---

- name: Set the hostname
  hostname:
    name: "{{ COMMON_SERVER_HOSTNAME }}"

- name: Set system timezone to UTC
  template:
    src: timezone
    dest: /etc/timezone
    mode: 0644

- name: Set local timezone to UTC
  file:
    src: /usr/share/zoneinfo/Etc/UTC
    dest: /etc/localtime
    state: link
    force: true

- name: add Opencraft repository
  apt_repository:
    repo: "{{ COMMON_SERVER_OPENCRAFT_REPO }}"
    state: present

- name: add Opencraft repository key
  apt_key:
    keyserver: "{{ COMMON_SERVER_OPENCRAFT_REPO_KEY_SERVER }}"
    id: "{{ COMMON_SERVER_OPENCRAFT_REPO_KEY_ID }}"
    state: present

- name: set apt preferences to prioritize the opencraft repo
  copy:
    content: |
            Package: chkrootkit
            Pin: Origin "debs.opencraft.com"
            Pin-Priority: 1001
    dest: /etc/apt/preferences.d/opencraft

- name: apt-get update, dist-upgrade and autoremove
  apt:
    update_cache: yes
    upgrade: dist
    autoremove: yes

- name: Install dependencies
  apt:
    name: "{{ COMMON_SERVER_DEPENDENCIES }}"
    state: present

- name: tmpreaper is configured
  template:
    src: tmpreaper.conf
    dest: /etc/tmpreaper.conf

- name: Copy security update check script
  copy:
    src: security_updates_checker.sh
    dest: "{{ SECURITY_UPDATE_SCRIPT_LOCATION }}"
    owner: root
    group: root
    mode: 0500

- name: Schedule cron job to track security updates of held packages
  cron:
    name: Track security updates
    minute: 0
    hour: 1
    job: "bash {{ SECURITY_UPDATE_SCRIPT_LOCATION }}"
