---
_meta:
  type: "internalusers"
  config_version: 2

admin:
  hash: {{ WAZUH_INDEXER_ADMIN_PASSWORD_ENCRYPTED }}
  reserved: true
  backend_roles:
  - "admin"
  description: "Wazuh admin user"

kibanaserver:
  hash: {{ WAZUH_INDEXER_KIBANASERVER_PASSWORD_ENCRYPTED }}
  reserved: true
  description: "Wazuh kibanaserver user"

# kibanaro:
#   hash: "$2a$12$JJSXNfTowz7Uu5ttXfeYpeYE0arACvcwlPBStB1F.MI7f0U9Z4DGC"
#   reserved: false
#   backend_roles:
#   - "kibanauser"
#   - "readall"
#   attributes:
#     attribute1: "value1"
#     attribute2: "value2"
#     attribute3: "value3"
#   description: "Wazuh kibanaro user"

# logstash:
#   hash: "$2a$12$u1ShR4l4uBS3Uv59Pa2y5.1uQuZBrZtmNfqB3iM/.jL0XoV9sghS2"
#   reserved: false
#   backend_roles:
#   - "logstash"
#   description: "Wazuh logstash user"

# readall:
#   hash: "$2a$12$ae4ycwzwvLtZxwZ82RmiEunBbIPiAmGZduBAjKN0TXdwQFtCwARz2"
#   reserved: false
#   backend_roles:
#   - "readall"
#   description: "Wazuh readall user"

# snapshotrestore:
#   hash: "$2y$12$DpwmetHKwgYnorbgdvORCenv4NAK8cPUg8AI6pxLCuWf/ALc0.v7W"
#   reserved: false
#   backend_roles:
#   - "snapshotrestore"
#   description: "Wazuh snapshotrestore user"