# {{ ansible_managed }}
# Config docs: https://gitlab.com/mailman/mailman-hyperkitty/blob/master/mailman-hyperkitty.cfg

[general]
base_url: http://localhost/mailman3/hyperkitty/
api_key: {{ MAILMAN_ARCHIVER_KEY }}
