# {{ ansible_managed }}
# Config docs: https://docs.mailman3.org/projects/mailman/en/latest/src/mailman/config/docs/config.html

SECRET_KEY = '{{ HYPERKITTY_SECRET_KEY }}'

# TODO: what is this for?
ADMINS = (
     ('Mailman Suite Admin', 'root@localhost'),
)

DEBUG = False

# All hosts allowed, because this is behind a reverse proxy anyway.
ALLOWED_HOSTS = ['*']

# Mailman API credentials
MAILMAN_REST_API_URL = 'http://localhost:8001'
MAILMAN_REST_API_USER = 'restadmin'
MAILMAN_REST_API_PASS = '{{ MAILMAN_REST_API_PASS }}'
MAILMAN_ARCHIVER_KEY = '{{ MAILMAN_ARCHIVER_KEY }}'
MAILMAN_ARCHIVER_FROM = ('127.0.0.1', '::1')

INSTALLED_APPS = (
    'hyperkitty',
    'postorius',
    'django_mailman3',
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'rest_framework',
    'django_gravatar',
    'paintstore',
    'compressor',
    'haystack',
    'django_extensions',
    'django_q',
    'allauth',
    'allauth.account',
    'allauth.socialaccount',
    'django_mailman3.lib.auth.fedora',
)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ MAILMAN_POSTGRES_DB_NAME }}',
        'USER': '{{ MAILMAN_POSTGRES_USER }}',
        'PASSWORD': '{{ MAILMAN_POSTGRES_PASS }}',
        'HOST': '{{ MAILMAN_POSTGRES_HOST }}',
        'PORT': '{{ MAILMAN_POSTGRES_PORT }}',
    }
}


USE_X_FORWARDED_HOST = True
SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTO', 'https')
SESSION_COOKIE_SECURE = True
SECURE_CONTENT_TYPE_NOSNIFF = True
SECURE_BROWSER_XSS_FILTER = True
CSRF_COOKIE_SECURE = True
CSRF_COOKIE_HTTPONLY = True
X_FRAME_OPTIONS = 'DENY'

LANGUAGE_CODE = 'en-us'
TIME_ZONE = 'UTC'
USE_I18N = True
USE_L10N = True
USE_TZ = True

# Set default domain for email addresses.
EMAILNAME = 'localhost.local'
DEFAULT_FROM_EMAIL = 'postorius@{}'.format(EMAILNAME)
SERVER_EMAIL = 'root@{}'.format(EMAILNAME)
ACCOUNT_DEFAULT_HTTP_PROTOCOL = "https"
