[submodule "playbooks/roles/ernestas-poskus.prometheus"]
	path = playbooks/roles/ernestas-poskus.prometheus
	url = https://github.com/open-craft/ansible-prometheus
[submodule "playbooks/roles/geerlingguy.java"]
	path = playbooks/roles/geerlingguy.java
	url = https://github.com/geerlingguy/ansible-role-java.git
[submodule "playbooks/roles/geerlingguy.security"]
	path = playbooks/roles/geerlingguy.security
	url = https://github.com/geerlingguy/ansible-role-security
[submodule "playbooks/roles/kamaln7.swapfile"]
	path = playbooks/roles/kamaln7.swapfile
	url = https://github.com/kamaln7/ansible-swapfile
[submodule "playbooks/roles/geerlingguy.mysql"]
	path = playbooks/roles/geerlingguy.mysql
	url = https://github.com/geerlingguy/ansible-role-mysql
[submodule "playbooks/roles/geerlingguy.postgresql"]
	path = playbooks/roles/geerlingguy.postgresql
	url = https://github.com/geerlingguy/ansible-role-postgresql
[submodule "playbooks/roles/geerlingguy.memcached"]
	path = playbooks/roles/geerlingguy.memcached
	url = https://github.com/geerlingguy/ansible-role-memcached
[submodule "playbooks/roles/greendayonfire.mongodb"]
	path = playbooks/roles/greendayonfire.mongodb
	# url = https://github.com/UnderGreen/ansible-role-mongodb
	# this is temporary until the upgrade to mongodb 4.2
	url = https://github.com/open-craft/ansible-role-mongodb
[submodule "playbooks/roles/elastic.elasticsearch"]
	path = playbooks/roles/elastic.elasticsearch
	url = https://github.com/elastic/ansible-elasticsearch.git
[submodule "playbooks/roles/geerlingguy.php"]
	path = playbooks/roles/geerlingguy.php
	url = https://github.com/geerlingguy/ansible-role-php
[submodule "playbooks/roles/geerlingguy.php-mysql"]
	path = playbooks/roles/geerlingguy.php-mysql
	url = https://github.com/geerlingguy/ansible-role-php-mysql
[submodule "playbooks/roles/geerlingguy.php-versions"]
	path = playbooks/roles/geerlingguy.php-versions
	url = https://github.com/geerlingguy/ansible-role-php-versions
[submodule "playbooks/roles/prometheus_redis_exporter_role"]
	path = playbooks/roles/prometheus_redis_exporter_role
	url = https://github.com/idealista/prometheus_redis_exporter_role
[submodule "playbooks/roles/davidwittman.redis"]
	path = playbooks/roles/davidwittman.redis
	url = https://github.com/DavidWittman/ansible-redis.git
[submodule "playbooks/roles/bimdata.fluent-bit"]
	path = playbooks/roles/bimdata.fluent-bit
	url = https://github.com/bimdata/ansible_role_fluentbit.git
