server {
    listen 0.0.0.0:{{ NGINX_PROXY_PUBLIC_PORT }}{% if NGINX_PROXY_USE_SSL %} ssl http2{% endif %};
    server_name {{ NGINX_PROXY_SERVER_NAME }};

    access_log {{ NGINX_PROXY_ACCESS_LOG }};
    error_log {{ NGINX_PROXY_ERROR_LOG }} error;

    {% if NGINX_PROXY_USE_SSL -%}
    ssl_certificate {{ NGINX_PROXY_SSL_CERT }};
    ssl_certificate_key {{ NGINX_PROXY_SSL_KEY }};
    add_header Strict-Transport-Security "max-age=31536000";
    {%- endif %}

    {{ NGINX_PROXY_EXTRA_CONFIG }}

    location / {
        proxy_pass http://localhost:{{ NGINX_PROXY_INTERNAL_PORT }}/;
        proxy_http_version 1.1;
        proxy_buffering off;
        proxy_request_buffering off;
        proxy_send_timeout {{ NGINX_PROXY_SEND_TIMEOUT }};
        proxy_read_timeout {{ NGINX_PROXY_READ_TIMEOUT }};

        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        {% if NGINX_PROXY_PASSWORD is not none -%}
        auth_basic "{{ NGINX_PROXY_AUTH_DOMAIN }}";
        auth_basic_user_file {{ NGINX_PROXY_HTPASSWD_PATH }};
        {%- endif %}

        {% if NGINX_PROXY_UPGRADE_CONNECTION %}
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        {% endif %}
    }
}
