path.data: {{ elasticsearch_data_dir }}
path.logs: {{ elasticsearch_log_dir }}

network.host: {{ elasticsearch_network_host }}

http.port: {{ elasticsearch_http_port }}

{% if elasticsearch_package != 'elasticsearch' %}
# Older versions of Elasticsearch use this but not newer ones.
script.inline: {{ elasticsearch_script_inline }}
script.indexed: {{ elasticsearch_script_indexed }}
{% endif %}
