Alias /static/ {{ hxat_app_path }}/http_static/

<Directory {{ hxat_app_path }}/http_static>
    Require all granted
</Directory>

WSGIScriptAlias / {{ hxat_app_path }}/annotationsx/wsgi.py
WSGIPythonPath {{ hxat_app_path }}

<Directory {{ hxat_app_path }}/annotationsx>
    <Files wsgi.py>
    Require all granted
    </Files>
</Directory>
