# The secure.py file stores environment specific settings and secrets.  

SECURE_SETTINGS = {
    'django_secret_key': '{{ hxat_django_secret }}',
    'debug': {{ hxat_debug }},
    'log_level': '{{ hxat_django_loglevel }}',
    'ADMIN_ROLES': {'Administrator', 'Instructor'},
    'CONSUMER_KEY': '{{ hxat_consumer_key }}',
    'LTI_SECRET': '{{ hxat_lti_secret }}',
    'LTI_SECRET_DICT': {},
    'ORGANIZATION': '{{ hxat_organization }}',
    'SERVER_NAME': '{{ hxat_server_name }}',
    'X_FRAME_ALLOWED_SITES': {{ hxat_xframe_allowed_sites }},
    'db_default_name': '{{ hxat_dbname }}',
    'db_default_user': '{{ hxat_dbuser }}',
    'db_default_password': '{{ hxat_dbpassword }}',
    'db_default_host': 'localhost',
    'annotation_database_url': '{{ hxat_annotation_db_url }}',
    'annotation_db_api_key': '{{ hxat_annotation_db_api_key }}',
    'annotation_db_secret_token': '{{ hxat_annotation_db_secret_token }}',
}
