SECURE_SETTINGS = {
    'db_default_name': '{{ hxat_dbname }}',
    'db_default_user': '{{ hxat_dbuser }}',
    'db_default_password': '{{ hxat_dbpassword }}',
    'db_default_host': 'localhost',
    'db_default_port': 5432,
    'debug': False,
    'django_log_level': '{{ hxat_django_loglevel }}',
    'CONSUMER_URL': '{{ hxat_consumer_url }}',
    'ADMIN_ROLES': {{ hxat_admin_roles }},
    'X_FRAME_ALLOWED_SITES': {{ hxat_xframe_allowed_sites }},
    'SERVER_NAME': '{{ hxat_server_name }}',
    'ORGANIZATION': '{{ hxat_organization }}',
    'annotation_database_url': "{{ hxat_annotation_db_url }}",
    'annotation_db_api_key': "{{ hxat_annotation_db_api_key }}",
    'annotation_db_secret_token': "{{ hxat_annotation_db_secret_token }}",
    'annotation_pagination_limit_default': "{{ hxat_annotation_pagination_limit_default }}",
    'LTI_SECRET': '{{ hxat_lti_secret }}',
    'CONSUMER_KEY': '{{ hxat_consumer_key }}',
}