[Unit]
Description=Nomad Agent
Requires=network-online.target
After=network-online.target

[Service]
User={{ "nomad" if nomad_server else "root" }}
Group=nomad
PermissionsStartOnly=true
ExecStart={{ nomad_bin_dir }}/nomad agent -config={{ nomad_config_dir }}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
