{
    "ServiceSettings": {
        {% if MATTERMOST_VERSION == '4.0.0' -%}
        "SiteURL": "",
        {% else -%}
        "SiteURL": "https://{{ MATTERMOST_HOSTNAME }}/",
        "WebsocketURL": "",
        {% endif -%}
        "LicenseFileLocation": "",
        "ListenAddress": ":8065",
        "ConnectionSecurity": "",
        "TLSCertFile": "",
        "TLSKeyFile": "",
        "UseLetsEncrypt": false,
        "LetsEncryptCertificateCacheFile": "./config/letsencrypt.cache",
        "Forward80To443": false,
        "ReadTimeout": 300,
        "WriteTimeout": 300,
        "MaximumLoginAttempts": 10,
        "GoroutineHealthThreshold": -1,
        "GoogleDeveloperKey": "",
        "EnableOAuthServiceProvider": false,
        "EnableIncomingWebhooks": true,
        "EnableOutgoingWebhooks": true,
        "EnableCommands": true,
        "EnableOnlyAdminIntegrations": true,
        "EnablePostUsernameOverride": false,
        "EnablePostIconOverride": false,
        {% if MATTERMOST_VERSION == '4.0.0' -%}
        "EnableAPIv3": true,
        {% else -%}
        "AllowedUntrustedInternalConnections": "",
        "EnableUserAccessTokens": false,
        "AllowCookiesForSubdomains": false,
        {% endif -%}
        "EnableLinkPreviews": false,
        "EnableTesting": false,
        "EnableDeveloper": false,
        "EnableSecurityFixAlert": true,
        "EnableInsecureOutgoingConnections": false,
        "EnableMultifactorAuthentication": false,
        "EnforceMultifactorAuthentication": false,
        "AllowCorsFrom": "",
        "SessionLengthWebInDays": {{ MATTERMOST_SESSION_LENGTH }},
        "SessionLengthMobileInDays": {{ MATTERMOST_SESSION_LENGTH }},
        "SessionLengthSSOInDays": {{ MATTERMOST_SESSION_LENGTH }},
        "SessionCacheInMinutes": 10,
        "WebsocketSecurePort": 443,
        "WebsocketPort": 80,
        "WebserverMode": "gzip",
        "EnableCustomEmoji": false,
        "EnableEmojiPicker": true,
        {% if MATTERMOST_VERSION != '4.0.0' -%}
        "EnableGifPicker": false,
        "GfycatApiKey": "2_KtH_W5",
        "GfycatApiSecret": "3wLVZPiswc3DnaiaFoLkDvB4X0IV6CpMkj4tf2inJRsBY6-FnkT08zGmppWFgeof",
        {% endif -%}
        "RestrictCustomEmojiCreation": "all",
        "RestrictPostDelete": "all",
        "AllowEditPost": "always",
        "PostEditTimeLimit": 300,
        "TimeBetweenUserTypingUpdatesMilliseconds": 5000,
        "EnablePostSearch": true,
        "EnableUserTypingMessages": true,
        "EnableChannelViewedMessages": true,
        "EnableUserStatuses": true,
        "ClusterLogTimeoutMilliseconds": 2000,
        {% if MATTERMOST_VERSION != '4.0.0' -%}
        "ExperimentalEnableAuthenticationTransfer": true,
        "CloseUnusedDirectMessages": false,
        "EnablePreviewFeatures": true,
        "EnableTutorial": true,
        "ExperimentalEnableDefaultChannelLeaveJoinMessages": true,
        "ExperimentalGroupUnreadChannels": "disabled",
        "ImageProxyType": "",
        "ImageProxyURL": "",	
        "ImageProxyOptions": "",
        "EnableAPITeamDeletion": false,
        "ExperimentalEnableHardenedMode": false,
        "ExperimentalLimitClientConfig": false,
        "EnableEmailInvitations": true
        {% endif %}
    },
    "TeamSettings": {
        "SiteName": "Mattermost",
        "MaxUsersPerTeam": {{ MATTERMOST_MAX_USERS_PER_TEAM }},
        "EnableTeamCreation": true,
        "EnableUserCreation": true,
        "EnableOpenServer": false,
        {% if MATTERMOST_VERSION != '4.0.0' -%}
        "EnableUserDeactivation": false,
        {% endif -%}
        "RestrictCreationToDomains": "{{ MATTERMOST_RESTRICT_TO_EMAIL_DOMAIN }}",
        "EnableCustomBrand": false,
        "CustomBrandText": "",
        "CustomDescriptionText": "",
        "RestrictDirectMessage": "any",
        "RestrictTeamInvite": "all",
        "RestrictPublicChannelManagement": "all",
        "RestrictPrivateChannelManagement": "all",
        "RestrictPublicChannelCreation": "all",
        "RestrictPrivateChannelCreation": "all",
        "RestrictPublicChannelDeletion": "all",
        "RestrictPrivateChannelDeletion": "all",
        "RestrictPrivateChannelManageMembers": "all",
        "UserStatusAwayTimeout": 300,
        "MaxChannelsPerTeam": 2000,
        "MaxNotificationsPerChannel": {{ MATTERMOST_MAX_CHANNEL_NOTIFICATIONS }},
        "TeammateNameDisplay": "{{ MATTERMOST_TEAMMATE_NAME }}",
        {% if MATTERMOST_VERSION != '4.0.0' -%}
        "EnableXToLeaveChannelsFromLHS": false,
        "EnableConfirmNotificationsToChannel": true,
        "ExperimentalEnableAutomaticReplies": false,
        "ExperimentalHideTownSquareinLHS": false,
        "ExperimentalTownSquareIsReadOnly": false,
        "ExperimentalPrimaryTeam": ""
        {% endif -%}
    },
    {% if MATTERMOST_VERSION != '4.0.0' -%}
    "ClientRequirements": {	
        "AndroidLatestVersion": "",
        "AndroidMinVersion": "",
        "DesktopLatestVersion": "",
        "DesktopMinVersion": "",
        "IosLatestVersion": "",
        "IosMinVersion": ""
    },
    {% endif -%}
    "SqlSettings": {
        "DriverName": "postgres",
        "DataSource": "{{ MATTERMOST_POSTGRES_URL }}",
        "DataSourceReplicas": [],
        "DataSourceSearchReplicas": [],
        {% if MATTERMOST_VERSION == '4.0.0' -%}
        "MaxIdleConns": 10,
        "MaxOpenConns": 10,
        {% else -%}
        "MaxIdleConns": 20,
        "ConnMaxLifetimeMilliseconds": 3600000,
        "MaxOpenConns": 300,
        {% endif -%}
        "Trace": false,
        "AtRestEncryptKey": "{{ MATTERMOST_POSTGRES_ENCRYPT_KEY }}",
        "QueryTimeout": 30
    },
    "LogSettings": {
        {% if MATTERMOST_VERSION == '4.0.0' -%}
        "EnableConsole": true,
        "ConsoleLevel": "DEBUG",
        {% else -%}
        "EnableConsole": false,
        "ConsoleLevel": "INFO",
        "ConsoleJson": true,
        {% endif -%}
        "EnableFile": true,
        "FileLevel": "INFO",
        {% if MATTERMOST_VERSION == '4.0.0' -%}
        "FileFormat": "",
        {% else -%}
        "FileJson": true,
        {% endif -%}
        "FileLocation": "{{ MATTERMOST_LOG_DIR }}",
        "EnableWebhookDebugging": {{ 'true' if MATTERMOST_VERSION == '4.0.0' else 'false' }},
        "EnableDiagnostics": true
    },
    "PasswordSettings": {
        "MinimumLength": 5,
        "Lowercase": false,
        "Number": false,
        "Uppercase": false,
        "Symbol": false
    },
    "FileSettings": {
        "EnableFileAttachments": true,
        {% if MATTERMOST_VERSION != '4.0.0' -%}
        "EnableMobileUpload": true,
        "EnableMobileDownload": true,
        {% endif -%}
        "MaxFileSize": 52428800,
        "DriverName": "{{ MATTERMOST_FILE_DRIVER }}",
        "Directory": "./data/",
        "EnablePublicLink": false,
        "PublicLinkSalt": "{{ MATTERMOST_PUBLIC_LINK_SALT }}",
        "InitialFont": "luximbi.ttf",
        "AmazonS3AccessKeyId": "{{ MATTERMOST_S3_ACCESS_KEY_ID }}",
        "AmazonS3SecretAccessKey": "{{ MATTERMOST_S3_SECRET_ACCESS_KEY }}",
        "AmazonS3Bucket": "{{ MATTERMOST_S3_BUCKET }}",
        "AmazonS3Region": "{{ MATTERMOST_S3_REGION }}",
        "AmazonS3Endpoint": "s3.amazonaws.com",
        "AmazonS3SSL": true,
        "AmazonS3SignV2": false,
        "AmazonS3SSE": false,
        "AmazonS3Trace": false
    },
    "EmailSettings": {
        "EnableSignUpWithEmail": true,
        "EnableSignInWithEmail": true,
        "EnableSignInWithUsername": true,
        "SendEmailNotifications": true,
        {% if MATTERMOST_VERSION != '4.0.0' -%}
        "UseChannelInEmailNotifications": false,
        {% endif -%}
        "RequireEmailVerification": {{ MATTERMOST_REQUIRE_EMAIL_VERIFICATION }},
        "FeedbackName": "{{ MATTERMOST_FEEDBACK_NAME }}",
        "FeedbackEmail": "{{ MATTERMOST_FEEDBACK_EMAIL }}",
        "FeedbackOrganization": "",
        {% if MATTERMOST_VERSION != '4.0.0' -%}
        "EnableSMTPAuth": false,
        {% endif -%}
        "SMTPUsername": "{{ MATTERMOST_SMTP_USERNAME }}",
        "SMTPPassword": "{{ MATTERMOST_SMTP_PASSWORD }}",
        "SMTPServer": "{{ MATTERMOST_SMTP_SERVER }}",
        "SMTPPort": "{{ MATTERMOST_SMTP_PORT }}",
        "ConnectionSecurity": "{{ MATTERMOST_CONNECTION_SECURITY }}",
        "InviteSalt": "{{ MATTERMOST_INVITE_SALT }}",
        "SendPushNotifications": true,
        "PushNotificationServer": "{{ MATTERMOST_PUSH_NOTIFICATION_SERVER }}",
        "PushNotificationContents": "generic",
        "EnableEmailBatching": true,
        "EmailBatchingBufferSize": 256,
        "EmailBatchingInterval": 30,
        "SkipServerCertificateVerification": {{ 'false' if MATTERMOST_VERSION == '4.0.0' else 'false,' }}
        {% if MATTERMOST_VERSION != '4.0.0' -%}
        "EnablePreviewModeBanner": true,
        "EmailNotificationContentsType": "full",
        "LoginButtonColor": "#0000",
        "LoginButtonBorderColor": "#2389D7",
        "LoginButtonTextColor": "#2389D7"
        {% endif -%}
    },
    "RateLimitSettings": {
        "Enable": false,
        "PerSec": 10,
        "MaxBurst": 100,
        "MemoryStoreSize": 10000,
        "VaryByRemoteAddr": true,
        "VaryByHeader": ""
    },
    "PrivacySettings": {
        "ShowEmailAddress": true,
        "ShowFullName": true
    },
    "SupportSettings": {
        "TermsOfServiceLink": "https://about.mattermost.com/default-terms/",
        "PrivacyPolicyLink": "https://about.mattermost.com/default-privacy-policy/",
        "AboutLink": "https://about.mattermost.com/default-about/",
        "HelpLink": "https://about.mattermost.com/default-help/",
        "ReportAProblemLink": "https://about.mattermost.com/default-report-a-problem/",
        "AdministratorsGuideLink": "https://about.mattermost.com/administrators-guide/",
        "TroubleshootingForumLink": "https://about.mattermost.com/troubleshooting-forum/",
        "CommercialSupportLink": "https://about.mattermost.com/commercial-support/",
        "SupportEmail": "feedback@mattermost.com"
    },
    "AnnouncementSettings": {
        "EnableBanner": false,
        "BannerText": "",
        "BannerColor": "#f2a93b",
        "BannerTextColor": "#333333",
        "AllowBannerDismissal": true
    },
    "ThemeSettings": {
        "EnableThemeSelection": true,
        "DefaultTheme": "default",
        "AllowCustomThemes": true,
        "AllowedThemes": []
    },
    "GitLabSettings": {
        "Enable": false,
        "Secret": "",
        "Id": "",
        "Scope": "",
        "AuthEndpoint": "",
        "TokenEndpoint": "",
        "UserApiEndpoint": ""
    },
    "GoogleSettings": {
        "Enable": false,
        "Secret": "",
        "Id": "",
        "Scope": "profile email",
        "AuthEndpoint": "https://accounts.google.com/o/oauth2/v2/auth",
        "TokenEndpoint": "https://www.googleapis.com/oauth2/v4/token",
        "UserApiEndpoint": "https://www.googleapis.com/plus/v1/people/me"
    },
    "Office365Settings": {
        "Enable": false,
        "Secret": "",
        "Id": "",
        "Scope": "User.Read",
        "AuthEndpoint": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
        "TokenEndpoint": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
        "UserApiEndpoint": "https://graph.microsoft.com/v1.0/me"
    },
    "LdapSettings": {
        "Enable": false,
        "EnableSync": false,
        "LdapServer": "",
        "LdapPort": 389,
        "ConnectionSecurity": "",
        "BaseDN": "",
        "BindUsername": "",
        "BindPassword": "",
        "UserFilter": "",
        "FirstNameAttribute": "",
        "LastNameAttribute": "",
        "EmailAttribute": "",
        "UsernameAttribute": "",
        "NicknameAttribute": "",
        "IdAttribute": "",
        "PositionAttribute": "",
        "LoginIdAttribute": "",
        "SyncIntervalMinutes": 60,
        "SkipCertificateVerification": false,
        "QueryTimeout": 60,
        "MaxPageSize": 0,
        "LoginFieldName": "",
        "LoginButtonColor": "#0000",
        "LoginButtonBorderColor": "#2389D7",
        "LoginButtonTextColor": "#2389D7"
    },
    "ComplianceSettings": {
        "Enable": false,
        "Directory": "./data/",
        "EnableDaily": false
    },
    "LocalizationSettings": {
        "DefaultServerLocale": "en",
        "DefaultClientLocale": "en",
        "AvailableLocales": ""
    },
    "SamlSettings": {
        "Enable": false,
        "Verify": false,
        "Encrypt": false,
        "IdpUrl": "",
        "IdpDescriptorUrl": "",
        "AssertionConsumerServiceURL": "",
        "IdpCertificateFile": "",
        "PublicCertificateFile": "",
        "PrivateKeyFile": "",
        "FirstNameAttribute": "",
        "LastNameAttribute": "",
        "EmailAttribute": "",
        "UsernameAttribute": "",
        "NicknameAttribute": "",
        "LocaleAttribute": "",
        "PositionAttribute": "",
        {% if MATTERMOST_VERSION != '4.0.0' -%}
        "ScopingIDPProviderId": "",
        "ScopingIDPName": "",
        "LoginButtonColor": "#34a28b",
        "LoginButtonBorderColor": "#2389D7",
        "LoginButtonTextColor": "#ffffff",
        {% endif -%}
        "LoginButtonText": "With SAML"
    },
    "NativeAppSettings": {
        "AppDownloadLink": "https://about.mattermost.com/downloads/",
        "AndroidAppDownloadLink": "https://about.mattermost.com/mattermost-android-app/",
        "IosAppDownloadLink": "https://about.mattermost.com/mattermost-ios-app/"
    },
    "ClusterSettings": {
        "Enable": false,
        "ClusterName": "",
        "OverrideHostname": "",
        "UseIpAddress": true,
        "UseExperimentalGossip": false,
        "ReadOnlyConfig": true,
        "GossipPort": 8074,
        {% if MATTERMOST_VERSION != '4.0.0' -%}
        "MaxIdleConns": 100,
        "MaxIdleConnsPerHost": 128,
        "IdleConnTimeoutMilliseconds": 90000,
        {% endif -%}
        "StreamingPort": 8075
    },
    "MetricsSettings": {
        "Enable": false,
        "BlockProfileRate": 0,
        "ListenAddress": ":8067"
    },
    {% if MATTERMOST_VERSION != '4.0.0' -%}
    "ExperimentalSettings": {
        "ClientSideCertEnable": false,
        "ClientSideCertCheck": "secondary"
    },
    {% endif -%}
    "AnalyticsSettings": {
        "MaxUsersForStatistics": 2500
    },
    "WebrtcSettings": {
        "Enable": false,
        "GatewayWebsocketUrl": "",
        "GatewayAdminUrl": "",
        "GatewayAdminSecret": "",
        "StunURI": "",
        "TurnURI": "",
        "TurnUsername": "",
        "TurnSharedKey": ""
    },
    "ElasticsearchSettings": {
        "ConnectionUrl": "",
        "Username": "",
        "Password": "",
        "EnableIndexing": false,
        "EnableSearching": false,
        {% if MATTERMOST_VERSION != '4.0.0' -%}
        "PostIndexReplicas": 1,
        "PostIndexShards": 1,
        "AggregatePostsAfterDays": 365,
        "PostsAggregatorJobStartTime": "03:00",
        "IndexPrefix": "",
        "LiveIndexingBatchSize": 1,
        "BulkIndexingTimeWindowSeconds": 3600,
        "RequestTimeoutSeconds": 30,
        {% endif -%}
        "Sniff": true
    },
    "DataRetentionSettings": {
        {% if MATTERMOST_VERSION == '4.0.0' -%}
        "Enable": false
        {% else -%}
        "EnableMessageDeletion": false,
        "EnableFileDeletion": false,
        "MessageRetentionDays": 365,
        "FileRetentionDays": 365,
        "DeletionJobStartTime": "02:00"
        {% endif -%}
    },
    {% if MATTERMOST_VERSION != '4.0.0' -%}
    "MessageExportSettings": {
        "EnableExport": false,
        "ExportFormat": "actiance",
        "DailyRunTime": "01:00",
        "ExportFromTimestamp": 0,
        "BatchSize": 10000,
        "GlobalRelaySettings": {
            "CustomerType": "A9",
            "SmtpUsername": "",
            "SmtpPassword": "",
            "EmailAddress": ""
        }
    },
    "JobSettings": {
        "RunJobs": true,
        "RunScheduler": true
    },
    "PluginSettings": {
        "Enable": true,
        "EnableUploads": true,
        "Directory": "./plugins",
        "ClientDirectory": "./client/plugins",
        "Plugins": {
            "mattermost-autolink": {
{% include "./templates/autolink.json.j2" %}

            }
        },
        "PluginStates": {
            "jira": {
                "Enable": true
            },
            "mattermost-autolink": {
                "Enable": true
            }
        }
    },
    "DisplaySettings": {
        "CustomUrlSchemes": [],
        "ExperimentalTimezone": false
    },
    "TimezoneSettings": {
        "SupportedTimezonesPath": "timezones.json"
    }
    {% endif -%}
}
