---
- name: Deploy the OpenCraft landing page
  hosts: wordpress
  become: true
  vars:
    - nginx_remove_default_vhost: true
    - php_memory_ilimit: "128M"
    - php_max_execution_time: "90"
    - php_upload_max_filesize: "256M"
    - php_version: "5.6"
    - php_enable_php_fpm: true
    - php_webserver_daemon: "nginx"
    - php_fpm_listen: "/var/run/php/php5-fpm.sock"
    - php_packages:
      - php-common
      - php-fpm
      - php-cli
      - php-dev
      - libpcre3-dev
      - php-gd
      - php-curl
      - php-imap
      - php-json
    - php_mysql_package: php5.6-mysql
  roles:
    - role: common-server
      tags: 'common-server'

    - geerlingguy.php-versions
    - geerlingguy.php-mysql
    - wordpress
